@model Projet_ASP.Models.ItLangViewModels.ItLangDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItLangDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLabel)
        </dd>
    </dl>
</div>
<div>
    <h2>@Html.DisplayNameFor(model => model.categories)</h2>
    <partial name="_CategoriesList" for="categories" />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
