@model IEnumerable<Projet_ASP.Models.CategoriesViewModels.CategoriesListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategLabel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategLabel)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id = item.IdCategory }) |
               
            </td>
        </tr>
}
    </tbody>
</table>
