@using Projet_ASP.Models.CategoriesViewModels
@using Projet_BLL.Entities;

@model IEnumerable<CategoriesListItem>

<h2>Category</h2>


 @foreach (CategoriesListItem categorie in Model)
    {
	<div class="panel panel-default">
							<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											@categorie.CategLabel
										</a>
									</h4>
								</div>
            
							</div>
        
    }

					
								
								
							
