@using Projet_ASP.Models.ItLangViewModels
@using Projet_BLL.Entities;

@model IEnumerable<ItLangListItem>

    <h2>IT LANG</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">

									@foreach (ItLangListItem itLang in Model)
									{
									    <li><a href="#">
									        @itLang.ItLabel</a>
									    </li>
									}
									
								</ul>
							</div>
    

